<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Filter keberapa</h1>
    <li>
      <a href="{{ url_for('artistic_filter') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Cat Minyak</a>
    </li>
    <li>
      <a href="{{ url_for('camera_lens_effect') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">exposure</a>
    </li>
    <li>
      <a href="{{ url_for('glitch_effect') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">glitch</a>
    </li>
 
    

      
    <form action="{{ url_for('artistic_filter') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="img" id="img" required>
        <input type="submit" value="Filter keberapa">
    </form>

    <div class="flex justify-center">
        <div class="mr-10">
          {% if img %}
          <h4 class="text-center font-medium text-2xl text-white mb-6">
            Gambar Awal
          </h4>
          <img src="{{ img }}" class="w-[500px]" />
          {% endif %}
        </div>

        <div class="mr-10">
          {% if img2 %}
          <h4 class="text-center font-medium text-2xl text-white mb-6">
            img2
          </h4>
          <img src="{{ img2 }}" class="w-[500px]" />
          {% endif %}
        </div>
      </div>
</body>
</html>